<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lou.kings.testapp2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- <receiver android:name=".ActionReceiver"> -->
        <!-- <intent-filter > -->
        <!-- <action android:name="THIS_IS"/> -->
        <!-- </intent-filter> -->


        <!-- </receiver> -->
        <service
            android:name=".IMyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.lou.kings.testapp2.CALCULATOR"/>
            </intent-filter>
        </service>
    </application>

</manifest>